<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Covid19 Tracking Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
    </head>

  <body>
    <p th:text="${TestName}"></p>
	 <table>
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases</th>
      </tr>
      <tr th:each="locationStat : ${locationState}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
    
        <td th:text="${locationStat.latestTotalCases}">0</td>
      </tr>
    </table>
  
  </body>

</html>